.container {
  max-width: 1180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
nav {
  height: 22px;
}
.list {
  display: flex;
  gap: 38px;
}
.logo {
  height: 100px;
}
.logo img {
  height: 100%;
}
.list a {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}
.btn {
  padding: 9px 37px;
  background-color: #107636;
  border-radius: 8px;
  box-sizing: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.carousel-item {
  height: 640px;
}
.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-info {
  background-color: #c1a269;
  width: 590px;
  text-align: center;
  padding: 68.57px 50px 203px;
}
.img-info h2,
h3,
p {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
}
.img-info h3 {
  margin-top: 23.26px;
}
.img-info p {
  font-size: 18px;
}
.img-text {
  display: flex;
  margin-top: 19.3px;
  text-transform: uppercase;
  color: #ffffff;
}
.raspberry-section {
  flex-direction: column;
  height: 600px;
  margin-top: 39px;
  margin-bottom: 812px;
  align-items: flex-start;
}
.section-title {
  color: #106e33;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}
.order-btn {
  background-color: #ffffff;
  color: #106e33;
  margin-top: 25px;
}
